@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: inline-flex;
    width: 300%;
    animation: scroll 10s linear infinite;
  }
  