@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


.carousel .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
          /** TEXT GRADIENT */ 
          color: #e91e63; background-image: -webkit-linear-gradient(0deg, #e91e63 56%, #f44336 18%, #e3ccca 64%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          text-shadow: #750a0096 2px 2px;
        
  font-family: 'Montserrat', sans-serif;
  font-size:50px;
  text-transform: uppercase;
  text-align:center;
  line-height: 1.1;
}
